## Benchmark Nixtla implementation single-process on M5

In [2]:
!pip install hierarchicalforecast
!pip install -U numba statsforecast datasetsforecast

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting hierarchicalforecast
  Downloading hierarchicalforecast-0.2.0-py3-none-any.whl (33 kB)
Collecting quadprog
  Downloading quadprog-0.1.11-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (453 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 453.4/453.4 kB 4.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numba in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (0.55.1)
Requirement already satisfied: scikit-learn in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (1.0.2)
Requirement already satisfied: pandas in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (1.3.5)
Requirement already satisfied: numpy in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (1.22.0)
Collecting mycolorpy
  Downloading mycolorpy-1.5.1.tar.gz (2.5 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: matplotlib in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from mycolorpy->hierarchicalforecast) (3.5.1)
Collecting numpy
  Downloading numpy-1.21.6-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 11.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: llvmlite<0.39,>=0.38.0rc1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba->hierarchicalforecast) (0.38.0)
Requirement already satisfied: setuptools in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba->hierarchicalforecast) (62.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from pandas->hierarchicalforecast) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from pandas->hierarchicalforecast) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from scikit-learn->hierarchicalforecast) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from scikit-learn->hierarchicalforecast) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from scikit-learn->hierarchicalforecast) (1.7.3)
Requirement already satisfied: six>=1.5 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->hierarchicalforecast) (1.16.0)
Requirement already satisfied: packaging>=20.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (21.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (9.0.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (4.32.0)
Building wheels for collected packages: mycolorpy
  Building wheel for mycolorpy (setup.py) ... done
  Created wheel for mycolorpy: filename=mycolorpy-1.5.1-py3-none-any.whl size=3851 sha256=164ad5a33932a4171af6ee50b9058479375a6ab5b0ad55ba92f6b829db459d7a
  Stored in directory: /home/peiyuanl/.cache/pip/wheels/b9/56/d6/a163bcbec3bb69f3f7797b1b542870b18d7e31ff5dbc0b87e3
Successfully built mycolorpy
Installing collected packages: numpy, quadprog, mycolorpy, hierarchicalforecast
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.0
    Uninstalling numpy-1.22.0:
      Successfully uninstalled numpy-1.22.0
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bittensor 2.0.3 requires protobuf==3.13.0, but you have protobuf 3.19.4 which is incompatible.
bittensor 2.0.3 requires torch==1.10, but you have torch 1.10.1 which is incompatible.
Successfully installed hierarchicalforecast-0.2.0 mycolorpy-1.5.1 numpy-1.21.6 quadprog-0.1.11
WARNING: There was an error checking the latest version of pip.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: numba in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (0.55.1)
Collecting numba
  Downloading numba-0.56.4-cp39-cp39-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.5/3.5 MB 3.4 MB/s eta 0:00:0000:0100:01
Collecting statsforecast
  Downloading statsforecast-1.3.1-py3-none-any.whl (86 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.4/86.4 kB 8.9 MB/s eta 0:00:00
Collecting datasetsforecast
  Downloading datasetsforecast-0.0.7-py3-none-any.whl (22 kB)
Requirement already satisfied: setuptools in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba) (62.3.2)
Requirement already satisfied: numpy<1.24,>=1.18 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba) (1.21.6)
Collecting llvmlite<0.40,>=0.39.0dev0
  Downloading llvmlite-0.39.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.6/34.6 MB 10.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: matplotlib in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (3.5.1)
Requirement already satisfied: tqdm in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (4.62.3)
Requirement already satisfied: scipy>=1.7.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (1.7.3)

Collecting statsmodels>=0.13.2
  Downloading statsmodels-0.13.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 11.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pandas>=1.3.5 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (1.3.5)
Collecting xlrd>=1.0.0
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 13.2 MB/s eta 0:00:00
Requirement already satisfied: requests in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from datasetsforecast) (2.26.0)
Requirement already satisfied: aiohttp in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from datasetsforecast) (3.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from pandas>=1.3.5->statsforecast) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from pandas>=1.3.5->statsforecast) (2.8.2)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 kB 10.3 MB/s eta 0:00:00
Collecting packaging>=21.3
  Using cached packaging-21.3-py3-none-any.whl (40 kB)
Requirement already satisfied: yarl<2.0,>=1.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (1.7.2)
Requirement already satisfied: aiosignal>=1.1.2 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (1.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (1.3.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (4.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (2.0.7)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (6.0.2)
Requirement already satisfied: attrs>=17.3.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (21.2.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (4.32.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (9.0.0)
Requirement already satisfied: cycler>=0.10 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (0.11.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from requests->datasetsforecast) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from requests->datasetsforecast) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from requests->datasetsforecast) (3.3)
Requirement already satisfied: six in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels>=0.13.2->statsforecast) (1.16.0)
Installing collected packages: xlrd, patsy, packaging, llvmlite, numba, statsmodels, datasetsforecast, statsforecast
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: packaging
    Found existing installation: packaging 21.2
    Uninstalling packaging-21.2:
      Successfully uninstalled packaging-21.2
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: llvmlite
    Found existing installation: llvmlite 0.38.0
    Uninstalling llvmlite-0.38.0:
      Successfully uninstalled llvmlite-0.38.0
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: numba
    Found existing installation: numba 0.55.1
    Uninstalling numba-0.55.1:
      Successfully uninstalled numba-0.55.1
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bittensor 2.0.3 requires protobuf==3.13.0, but you have protobuf 3.19.4 which is incompatible.
bittensor 2.0.3 requires torch==1.10, but you have torch 1.10.1 which is incompatible.
Successfully installed datasetsforecast-0.0.7 llvmlite-0.39.1 numba-0.56.4 packaging-21.3 patsy-0.5.3 statsforecast-1.3.1 statsmodels-0.13.5 xlrd-2.0.1
WARNING: There was an error checking the latest version of pip.

In [3]:
import numpy as np
import pandas as pd

#obtain hierarchical data
from datasetsforecast.hierarchical import HierarchicalData

# compute base forecast no coherent
from statsforecast.core import StatsForecast
from statsforecast.models import AutoARIMA, Naive

#obtain hierarchical reconciliation methods and evaluation
from hierarchicalforecast.core import HierarchicalReconciliation
from hierarchicalforecast.evaluation import HierarchicalEvaluation
from hierarchicalforecast.methods import BottomUp, TopDown, MiddleOut

from timeit import default_timer as timer

ROOT = "/data/cmu/large-scale-hts-reconciliation/"
data_dir = ROOT + "notebooks/"

/home/linuxbrew/.linuxbrew/opt/python@3.9/lib/python3.9/site-packages/statsforecast/core.py:17: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In this example we will use the `TourismSmall` dataset. The following cell gets the time series for the different levels in the hierarchy, the summing matrix `S` which recovers the full dataset from the bottom level hierarchy and the indices of each hierarchy denoted by `tags`.

In [ ]:
import pickle

tags = pickle.load(open(data_dir + 'm5_prediction_raw/tags.pkl', 'rb'))
S_df = pickle.load(open(data_dir + 'm5_prediction_raw/nixtla_s.pkl', 'rb'))
Y_df = pd.read_csv(data_dir + 'm5_prediction_raw/nixtla_y_gt.csv')
Y_hat_df = pd.read_csv(data_dir + 'm5_prediction_raw/nixtla_y_hat.csv')

#Y_df, S_df, tags = HierarchicalData.load('./data', 'TourismSmall')

start = pd.to_datetime("2016-01-01")
    
Y_df['ds'] = pd.to_datetime(Y_df['ds'].apply(lambda x: start + pd.Timedelta(days = int(x[2:]))))

In [7]:
Y_df['ds']

0          d_1842
1          d_1843
2          d_1844
3          d_1845
4          d_1846
            ...
3048995    d_1937
3048996    d_1938
3048997    d_1939
3048998    d_1940
3048999    d_1941
Name: ds, Length: 3049000, dtype: object

In [4]:
Y_df.head()

  unique_id         ds      y
0     total 1998-03-31  84503
1     total 1998-06-30  65312
2     total 1998-09-30  72753
3     total 1998-12-31  70880
4     total 1999-03-31  86893

In [5]:
S_df.iloc[:5, :5]

,nsw-hol-city,nsw-hol-noncity,vic-hol-city,vic-hol-noncity,qld-hol-city
total,1.0,1.0,1.0,1.0,1.0
hol,1.0,1.0,1.0,1.0,1.0
vfr,0.0,0.0,0.0,0.0,0.0
bus,0.0,0.0,0.0,0.0,0.0
oth,0.0,0.0,0.0,0.0,0.0

In [6]:
tags

{'Country': array(['total'], dtype=object),
 'Country/Purpose': array(['hol', 'vfr', 'bus', 'oth'], dtype=object),
 'Country/Purpose/State': array(['nsw-hol', 'vic-hol', 'qld-hol', 'sa-hol', 'wa-hol', 'tas-hol',
        'nt-hol', 'nsw-vfr', 'vic-vfr', 'qld-vfr', 'sa-vfr', 'wa-vfr',
        'tas-vfr', 'nt-vfr', 'nsw-bus', 'vic-bus', 'qld-bus', 'sa-bus',
        'wa-bus', 'tas-bus', 'nt-bus', 'nsw-oth', 'vic-oth', 'qld-oth',
        'sa-oth', 'wa-oth', 'tas-oth', 'nt-oth'], dtype=object),
 'Country/Purpose/State/CityNonCity': array(['nsw-hol-city', 'nsw-hol-noncity', 'vic-hol-city',
        'vic-hol-noncity', 'qld-hol-city', 'qld-hol-noncity',
        'sa-hol-city', 'sa-hol-noncity', 'wa-hol-city', 'wa-hol-noncity',
        'tas-hol-city', 'tas-hol-noncity', 'nt-hol-city', 'nt-hol-noncity',
        'nsw-vfr-city', 'nsw-vfr-noncity', 'vic-vfr-city',
        'vic-vfr-noncity', 'qld-vfr-city', 'qld-vfr-noncity',
        'sa-vfr-city', 'sa-vfr-noncity', 'wa-vfr-city', 'wa-vfr-noncity',
        'tas-vfr-city', 'tas-vfr-noncity', 'nt-vfr-city', 'nt-vfr-noncity',
        'nsw-bus-city', 'nsw-bus-noncity', 'vic-bus-city',
        'vic-bus-noncity', 'qld-bus-city', 'qld-bus-noncity',
        'sa-bus-city', 'sa-bus-noncity', 'wa-bus-city', 'wa-bus-noncity',
        'tas-bus-city', 'tas-bus-noncity', 'nt-bus-city', 'nt-bus-noncity',
        'nsw-oth-city', 'nsw-oth-noncity', 'vic-oth-city',
        'vic-oth-noncity', 'qld-oth-city', 'qld-oth-noncity',
        'sa-oth-city', 'sa-oth-noncity', 'wa-oth-city', 'wa-oth-noncity',
        'tas-oth-city', 'tas-oth-noncity', 'nt-oth-city', 'nt-oth-noncity'],
       dtype=object)}

We split the dataframe in train/test splits.

In [7]:
Y_test_df = Y_df.groupby('unique_id').tail(12)
Y_train_df = Y_df.drop(Y_test_df.index)

In [8]:
Y_test_df = Y_test_df.set_index('unique_id')
Y_train_df = Y_train_df.set_index('unique_id')

The following cell computes the *base forecast* for each time series using the `auto_arima` and `naive` models. Observe that `Y_hat_df` contains the forecasts but they are not coherent.

In [9]:
%%capture
fcst = StatsForecast(
    df=Y_train_df, 
    models=[AutoARIMA(season_length=12), Naive()], 
    freq='M', 
    n_jobs=-1
)
Y_hat_df = fcst.forecast(h=12)

In [13]:
Y_hat_df

                       ds     AutoARIMA    Naive
unique_id
bus            2004-01-31  11017.998047  11020.0
bus            2004-02-29  11017.998047  11020.0
bus            2004-03-31  11017.997070  11020.0
bus            2004-04-30  11017.997070  11020.0
bus            2004-05-31  11017.997070  11020.0
...                   ...           ...      ...
wa-vfr-noncity 2004-08-31   1012.761719   1177.0
wa-vfr-noncity 2004-09-30   1012.761719   1177.0
wa-vfr-noncity 2004-10-31   1012.761719   1177.0
wa-vfr-noncity 2004-11-30   1012.761719   1177.0
wa-vfr-noncity 2004-12-31   1012.761719   1177.0

[1068 rows x 3 columns]

In [15]:
Y_train_df

                       ds      y
unique_id
total          1998-03-31  84503
total          1998-06-30  65312
total          1998-09-30  72753
total          1998-12-31  70880
total          1999-03-31  86893
...                   ...    ...
nt-oth-noncity 2002-12-31    248
nt-oth-noncity 2003-03-31     13
nt-oth-noncity 2003-06-30    104
nt-oth-noncity 2003-09-30    345
nt-oth-noncity 2003-12-31    132

[2136 rows x 2 columns]

The following cell makes the previous forecasts coherent using the `HierarchicalReconciliation` class. The used methods to make the forecasts coherent are:
- `BottomUp`: The reconciliation of the method is a simple addition to the upper levels.
- `TopDown`: The second method constrains the base-level predictions to the top-most aggregate-level serie and then distributes it to the disaggregate series through the use of proportions. 
- `MiddleOut`: Anchors the base predictions in a middle level.

In [12]:
reconcilers = [
    BottomUp(),
    #TopDown(method='forecast_proportions'),
    #MiddleOut(middle_level='Country/Purpose/State', 
    #          top_down_method='forecast_proportions')
]
hrec = HierarchicalReconciliation(reconcilers=reconcilers)

start = timer()
Y_rec_df = hrec.reconcile(Y_hat_df=Y_hat_df, Y_df=Y_train_df, 
                          S=S_df, tags=tags)
end = timer()
print(end - start)

0.02190937499995016

In [16]:
Y_df

           unique_id         ds      y
0              total 1998-03-31  84503
1              total 1998-06-30  65312
2              total 1998-09-30  72753
3              total 1998-12-31  70880
4              total 1999-03-31  86893
...              ...        ...    ...
3199  nt-oth-noncity 2005-12-31     59
3200  nt-oth-noncity 2006-03-31     25
3201  nt-oth-noncity 2006-06-30     52
3202  nt-oth-noncity 2006-09-30     72
3203  nt-oth-noncity 2006-12-31    138

[3204 rows x 3 columns]

In [17]:
Y_hat_df

                       ds     AutoARIMA    Naive
unique_id
bus            2004-01-31  11017.998047  11020.0
bus            2004-02-29  11017.998047  11020.0
bus            2004-03-31  11017.997070  11020.0
bus            2004-04-30  11017.997070  11020.0
bus            2004-05-31  11017.997070  11020.0
...                   ...           ...      ...
wa-vfr-noncity 2004-08-31   1012.761719   1177.0
wa-vfr-noncity 2004-09-30   1012.761719   1177.0
wa-vfr-noncity 2004-10-31   1012.761719   1177.0
wa-vfr-noncity 2004-11-30   1012.761719   1177.0
wa-vfr-noncity 2004-12-31   1012.761719   1177.0

[1068 rows x 3 columns]

In [18]:
Y_rec_df

,ds,AutoARIMA,Naive,AutoARIMA/BottomUp,Naive/BottomUp
unique_id,,,,,
bus,2004-01-31,11017.998047,11020.0,11038.705078,11020.0
bus,2004-02-29,11017.998047,11020.0,11028.713867,11020.0
bus,2004-03-31,11017.997070,11020.0,11026.210938,11020.0
bus,2004-04-30,11017.997070,11020.0,11018.519531,11020.0
bus,2004-05-31,11017.997070,11020.0,11012.330078,11020.0
...,...,...,...,...,...
wa-vfr-noncity,2004-08-31,1012.761719,1177.0,1012.761719,1177.0
wa-vfr-noncity,2004-09-30,1012.761719,1177.0,1012.761719,1177.0
wa-vfr-noncity,2004-10-31,1012.761719,1177.0,1012.761719,1177.0
wa-vfr-noncity,2004-11-30,1012.761719,1177.0,1012.761719,1177.0
wa-vfr-noncity,2004-12-31,1012.761719,1177.0,1012.761719,1177.0