## Benchmark Nixtla implementation single-process on M5

In [1]:
!pip install hierarchicalforecast
!pip install -U numba statsforecast datasetsforecast

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: hierarchicalforecast in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (0.2.0)
Requirement already satisfied: numba in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (0.56.4)
Requirement already satisfied: numpy in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (1.21.6)
Requirement already satisfied: quadprog in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (0.1.11)
Requirement already satisfied: mycolorpy in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (1.5.1)
Requirement already satisfied: scikit-learn in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (1.0.2)
Requirement already satisfied: pandas in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from hierarchicalforecast) (1.3.5)
Requirement already satisfied: matplotlib in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from mycolorpy->hierarchicalforecast) (3.5.1)
Requirement already satisfied: setuptools in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba->hierarchicalforecast) (62.3.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba->hierarchicalforecast) (0.39.1)
Requirement already satisfied: pytz>=2017.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from pandas->hierarchicalforecast) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from pandas->hierarchicalforecast) (2.8.2)
Requirement already satisfied: scipy>=1.1.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from scikit-learn->hierarchicalforecast) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from scikit-learn->hierarchicalforecast) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from scikit-learn->hierarchicalforecast) (1.1.0)
Requirement already satisfied: six>=1.5 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->hierarchicalforecast) (1.16.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (4.32.0)
Requirement already satisfied: cycler>=0.10 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (2.4.7)
Requirement already satisfied: packaging>=20.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->mycolorpy->hierarchicalforecast) (9.0.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: There was an error checking the latest version of pip.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: numba in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (0.56.4)
Requirement already satisfied: statsforecast in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (1.3.1)
Requirement already satisfied: datasetsforecast in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (0.0.7)
Requirement already satisfied: numpy<1.24,>=1.18 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba) (1.21.6)
Requirement already satisfied: setuptools in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba) (62.3.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from numba) (0.39.1)
Requirement already satisfied: scipy>=1.7.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (1.7.3)
Requirement already satisfied: tqdm in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (4.62.3)
Requirement already satisfied: matplotlib in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (3.5.1)
Requirement already satisfied: pandas>=1.3.5 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (1.3.5)
Requirement already satisfied: statsmodels>=0.13.2 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsforecast) (0.13.5)
Requirement already satisfied: requests in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from datasetsforecast) (2.26.0)
Requirement already satisfied: xlrd>=1.0.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from datasetsforecast) (2.0.1)
Requirement already satisfied: aiohttp in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from datasetsforecast) (3.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from pandas>=1.3.5->statsforecast) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from pandas>=1.3.5->statsforecast) (2.8.2)
Requirement already satisfied: patsy>=0.5.2 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsmodels>=0.13.2->statsforecast) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from statsmodels>=0.13.2->statsforecast) (21.3)
Requirement already satisfied: frozenlist>=1.1.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (1.3.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (1.7.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (4.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (1.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (2.0.7)
Requirement already satisfied: attrs>=17.3.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (21.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from aiohttp->datasetsforecast) (6.0.2)
Requirement already satisfied: pillow>=6.2.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (9.0.0)
Requirement already satisfied: cycler>=0.10 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from matplotlib->statsforecast) (4.32.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from requests->datasetsforecast) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from requests->datasetsforecast) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from requests->datasetsforecast) (3.3)

Requirement already satisfied: six in /home/linuxbrew/.linuxbrew/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels>=0.13.2->statsforecast) (1.16.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: There was an error checking the latest version of pip.

In [51]:
import numpy as np
import pandas as pd

#obtain hierarchical data
from datasetsforecast.hierarchical import HierarchicalData

# compute base forecast no coherent
from statsforecast.core import StatsForecast
from statsforecast.models import AutoARIMA, Naive

#obtain hierarchical reconciliation methods and evaluation
from hierarchicalforecast.core import HierarchicalReconciliation
from hierarchicalforecast.evaluation import HierarchicalEvaluation
from hierarchicalforecast.methods import BottomUp, TopDown, MiddleOut

from timeit import default_timer as timer

ROOT = "/data/cmu/large-scale-hts-reconciliation/"
data_dir = ROOT + "notebooks/"

In [52]:
import pickle

tags = pickle.load(open(data_dir + 'm5_prediction_raw/tags.pkl', 'rb'))
S_df = pickle.load(open(data_dir + 'm5_prediction_raw/nixtla_s.pkl', 'rb'))
Y_df = pd.read_csv(data_dir + 'm5_prediction_raw/nixtla_y_gt.csv')
Y_hat_df = pd.read_csv(data_dir + 'm5_prediction_raw/nixtla_y_hat.csv')

#Y_df, S_df, tags = HierarchicalData.load('./data', 'TourismSmall')

start = pd.to_datetime("2016-01-01")
    
Y_df['ds'] = pd.to_datetime(Y_df['ds'].apply(lambda x: start + pd.Timedelta(days = int(x[2:]))))

In [53]:
Y_df.set_index('unique_id', inplace=True)
Y_hat_df.set_index('unique_id', inplace=True)

In [54]:
Y_df.head()

                           ds    y
unique_id
HOBBIES_1_001_CA_1 2021-01-16  4.0
HOBBIES_1_001_CA_1 2021-01-17  0.0
HOBBIES_1_001_CA_1 2021-01-18  0.0
HOBBIES_1_001_CA_1 2021-01-19  0.0
HOBBIES_1_001_CA_1 2021-01-20  0.0

In [55]:
S_df.iloc[:5, :5]

,HOBBIES_1_001_CA_1,HOBBIES_1_002_CA_1,HOBBIES_1_003_CA_1,HOBBIES_1_004_CA_1,HOBBIES_1_005_CA_1
HOBBIES,1,1,1,1,1
HOUSEHOLD,0,0,0,0,0
FOODS,0,0,0,0,0
HOBBIES_1,1,1,1,1,1
HOBBIES_2,0,0,0,0,0

In [56]:
tags

{'Cat': array(['HOBBIES', 'HOUSEHOLD', 'FOODS'], dtype=object),
 'Cat/Dept': array(['HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2', 'FOODS_1',
        'FOODS_2', 'FOODS_3'], dtype=object),
 'Cat/Dept/Item': array(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', ...,
        'FOODS_3_825', 'FOODS_3_826', 'FOODS_3_827'], dtype=object),
 'Cat/Dept/Item/State': array(['HOBBIES_1_001_CA_1', 'HOBBIES_1_002_CA_1', 'HOBBIES_1_003_CA_1',
        ..., 'FOODS_3_825_WI_3', 'FOODS_3_826_WI_3', 'FOODS_3_827_WI_3'],
       dtype=object)}

In [57]:
Y_hat_df['ds'] = pd.to_datetime(Y_hat_df['ds'].apply(lambda x: start + pd.Timedelta(days = int(x[2:]))))
Y_hat_df.head()

                           ds   prophet
unique_id
HOBBIES_1_001_CA_1 2021-01-16  0.641144
HOBBIES_1_001_CA_1 2021-01-17  0.855605
HOBBIES_1_001_CA_1 2021-01-18  0.713611
HOBBIES_1_001_CA_1 2021-01-19  1.213304
HOBBIES_1_001_CA_1 2021-01-20  1.142696

The following cell makes the previous forecasts coherent using the `HierarchicalReconciliation` class. The used methods to make the forecasts coherent are:
- `BottomUp`: The reconciliation of the method is a simple addition to the upper levels.
- `TopDown`: The second method constrains the base-level predictions to the top-most aggregate-level serie and then distributes it to the disaggregate series through the use of proportions. 
- `MiddleOut`: Anchors the base predictions in a middle level.

In [ ]:
date = '2021-01-16'

Y_hat = Y_hat_df.loc[Y_hat_df['ds'] == date]
Y = Y_df.loc[Y_df['ds'] == date]

reconcilers = [
    BottomUp(),
    #TopDown(method='forecast_proportions'),
    #MiddleOut(middle_level='Country/Purpose/State', 
    #          top_down_method='forecast_proportions')
]
hrec = HierarchicalReconciliation(reconcilers=reconcilers)

start = timer()
Y_rec_df = hrec.reconcile(Y_hat_df=Y_hat, Y_df=Y, 
                          S=S_df, tags=tags)
end = timer()
print(end - start)

In [43]:
Y_hat

                  unique_id         ds   prophet
0        HOBBIES_1_001_CA_1 2021-01-16  0.641144
100      HOBBIES_1_002_CA_1 2021-01-16  0.226241
200      HOBBIES_1_003_CA_1 2021-01-16  0.407938
300      HOBBIES_1_004_CA_1 2021-01-16  2.470077
400      HOBBIES_1_005_CA_1 2021-01-16  1.359481
...                     ...        ...       ...
3048500    FOODS_3_823_WI_3 2021-01-16  0.464440
3048600    FOODS_3_824_WI_3 2021-01-16  0.398286
3048700    FOODS_3_825_WI_3 2021-01-16  1.145024
3048800    FOODS_3_826_WI_3 2021-01-16  1.467588
3048900    FOODS_3_827_WI_3 2021-01-16  1.209756

[30490 rows x 3 columns]

In [42]:
S_df

,HOBBIES_1_001_CA_1,HOBBIES_1_002_CA_1,HOBBIES_1_003_CA_1,HOBBIES_1_004_CA_1,HOBBIES_1_005_CA_1,HOBBIES_1_006_CA_1,HOBBIES_1_007_CA_1,HOBBIES_1_008_CA_1,HOBBIES_1_009_CA_1,HOBBIES_1_010_CA_1,...,FOODS_3_818_WI_3,FOODS_3_819_WI_3,FOODS_3_820_WI_3,FOODS_3_821_WI_3,FOODS_3_822_WI_3,FOODS_3_823_WI_3,FOODS_3_824_WI_3,FOODS_3_825_WI_3,FOODS_3_826_WI_3,FOODS_3_827_WI_3
HOBBIES,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
HOUSEHOLD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FOODS,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
HOBBIES_1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
HOBBIES_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FOODS_3_823_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
FOODS_3_824_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
FOODS_3_825_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
FOODS_3_826_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
FOODS_3_827_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [34]:
a,b,c = HierarchicalData.load('./data', 'TourismSmall')

100%|████████████████████████████████████████████████████████████| 1.30M/1.30M [00:00<00:00, 4.27MiB/s]
INFO:datasetsforecast.utils:Successfully downloaded datasets.zip, 1297279, bytes.
INFO:datasetsforecast.utils:Decompressing zip file...
INFO:datasetsforecast.utils:Successfully decompressed data/hierarchical/datasets.zip

In [45]:
a['unique_id'].unique()

array(['total', 'hol', 'vfr', 'bus', 'oth', 'nsw-hol', 'vic-hol',
       'qld-hol', 'sa-hol', 'wa-hol', 'tas-hol', 'nt-hol', 'nsw-vfr',
       'vic-vfr', 'qld-vfr', 'sa-vfr', 'wa-vfr', 'tas-vfr', 'nt-vfr',
       'nsw-bus', 'vic-bus', 'qld-bus', 'sa-bus', 'wa-bus', 'tas-bus',
       'nt-bus', 'nsw-oth', 'vic-oth', 'qld-oth', 'sa-oth', 'wa-oth',
       'tas-oth', 'nt-oth', 'nsw-hol-city', 'nsw-hol-noncity',
       'vic-hol-city', 'vic-hol-noncity', 'qld-hol-city',
       'qld-hol-noncity', 'sa-hol-city', 'sa-hol-noncity', 'wa-hol-city',
       'wa-hol-noncity', 'tas-hol-city', 'tas-hol-noncity', 'nt-hol-city',
       'nt-hol-noncity', 'nsw-vfr-city', 'nsw-vfr-noncity',
       'vic-vfr-city', 'vic-vfr-noncity', 'qld-vfr-city',
       'qld-vfr-noncity', 'sa-vfr-city', 'sa-vfr-noncity', 'wa-vfr-city',
       'wa-vfr-noncity', 'tas-vfr-city', 'tas-vfr-noncity', 'nt-vfr-city',
       'nt-vfr-noncity', 'nsw-bus-city', 'nsw-bus-noncity',
       'vic-bus-city', 'vic-bus-noncity', 'qld-bus-city',
       'qld-bus-noncity', 'sa-bus-city', 'sa-bus-noncity', 'wa-bus-city',
       'wa-bus-noncity', 'tas-bus-city', 'tas-bus-noncity', 'nt-bus-city',
       'nt-bus-noncity', 'nsw-oth-city', 'nsw-oth-noncity',
       'vic-oth-city', 'vic-oth-noncity', 'qld-oth-city',
       'qld-oth-noncity', 'sa-oth-city', 'sa-oth-noncity', 'wa-oth-city',
       'wa-oth-noncity', 'tas-oth-city', 'tas-oth-noncity', 'nt-oth-city',
       'nt-oth-noncity'], dtype=object)

In [38]:
tags

{'level_1': array(['HOBBIES', 'HOUSEHOLD', 'FOODS'], dtype=object),
 'level_2': array(['HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2', 'FOODS_1',
        'FOODS_2', 'FOODS_3'], dtype=object),
 'level_3': array(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', ...,
        'FOODS_3_825', 'FOODS_3_826', 'FOODS_3_827'], dtype=object),
 'level_4': array(['HOBBIES_1_001_CA_1', 'HOBBIES_1_002_CA_1', 'HOBBIES_1_003_CA_1',
        ..., 'FOODS_3_825_WI_3', 'FOODS_3_826_WI_3', 'FOODS_3_827_WI_3'],
       dtype=object)}

In [39]:
c

{'Country': array(['total'], dtype=object),
 'Country/Purpose': array(['hol', 'vfr', 'bus', 'oth'], dtype=object),
 'Country/Purpose/State': array(['nsw-hol', 'vic-hol', 'qld-hol', 'sa-hol', 'wa-hol', 'tas-hol',
        'nt-hol', 'nsw-vfr', 'vic-vfr', 'qld-vfr', 'sa-vfr', 'wa-vfr',
        'tas-vfr', 'nt-vfr', 'nsw-bus', 'vic-bus', 'qld-bus', 'sa-bus',
        'wa-bus', 'tas-bus', 'nt-bus', 'nsw-oth', 'vic-oth', 'qld-oth',
        'sa-oth', 'wa-oth', 'tas-oth', 'nt-oth'], dtype=object),
 'Country/Purpose/State/CityNonCity': array(['nsw-hol-city', 'nsw-hol-noncity', 'vic-hol-city',
        'vic-hol-noncity', 'qld-hol-city', 'qld-hol-noncity',
        'sa-hol-city', 'sa-hol-noncity', 'wa-hol-city', 'wa-hol-noncity',
        'tas-hol-city', 'tas-hol-noncity', 'nt-hol-city', 'nt-hol-noncity',
        'nsw-vfr-city', 'nsw-vfr-noncity', 'vic-vfr-city',
        'vic-vfr-noncity', 'qld-vfr-city', 'qld-vfr-noncity',
        'sa-vfr-city', 'sa-vfr-noncity', 'wa-vfr-city', 'wa-vfr-noncity',
        'tas-vfr-city', 'tas-vfr-noncity', 'nt-vfr-city', 'nt-vfr-noncity',
        'nsw-bus-city', 'nsw-bus-noncity', 'vic-bus-city',
        'vic-bus-noncity', 'qld-bus-city', 'qld-bus-noncity',
        'sa-bus-city', 'sa-bus-noncity', 'wa-bus-city', 'wa-bus-noncity',
        'tas-bus-city', 'tas-bus-noncity', 'nt-bus-city', 'nt-bus-noncity',
        'nsw-oth-city', 'nsw-oth-noncity', 'vic-oth-city',
        'vic-oth-noncity', 'qld-oth-city', 'qld-oth-noncity',
        'sa-oth-city', 'sa-oth-noncity', 'wa-oth-city', 'wa-oth-noncity',
        'tas-oth-city', 'tas-oth-noncity', 'nt-oth-city', 'nt-oth-noncity'],
       dtype=object)}