## Generating Benchmark Data for M5

The data is taken from the [M5 Forecasting - Accuracy](https://www.kaggle.com/c/m5-forecasting-accuracy) challenge on Kaggle, a competiton organized by The Makridakis Open Forecasting Center (MOFC) at the University of Nicosia ($50,000).

In [211]:
STORE_ROOT = "m5_hobbies"
NIXTLA_ROOT = "m5_hobbies_nixtla"
ROOT = "/data/cmu/large-scale-hts-reconciliation/"
data_dir = ROOT + "notebooks/"
TIME_HORIZON = 100

In [212]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from prophet import Prophet
from tqdm import tqdm
import pickle

### ETL (Extract, Transform & Load) from Kaggle

In [213]:
SMALL = True
df = pd.read_csv(data_dir + "sales_train_evaluation.csv").fillna(0)
if SMALL:
    df = df.loc[df["cat_id"] == "HOBBIES"]
import collections

collections.Counter(df["dept_id"].values), collections.Counter(
    df["cat_id"].values
), collections.Counter(df["store_id"].values), collections.Counter(
    df["state_id"].values
)

(Counter({'HOBBIES_1': 4160, 'HOBBIES_2': 1490}),
 Counter({'HOBBIES': 5650}),
 Counter({'CA_1': 565,
          'CA_2': 565,
          'CA_3': 565,
          'CA_4': 565,
          'TX_1': 565,
          'TX_2': 565,
          'TX_3': 565,
          'WI_1': 565,
          'WI_2': 565,
          'WI_3': 565}),
 Counter({'CA': 2260, 'TX': 1695, 'WI': 1695}))

In [214]:
df

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28001,HOBBIES_2_145_WI_3_evaluation,HOBBIES_2_145,HOBBIES_2,HOBBIES,WI_3,WI,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
28002,HOBBIES_2_146_WI_3_evaluation,HOBBIES_2_146,HOBBIES_2,HOBBIES,WI_3,WI,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
28003,HOBBIES_2_147_WI_3_evaluation,HOBBIES_2_147,HOBBIES_2,HOBBIES,WI_3,WI,0,0,0,0,...,0,2,0,0,0,1,2,0,0,0
28004,HOBBIES_2_148_WI_3_evaluation,HOBBIES_2_148,HOBBIES_2,HOBBIES,WI_3,WI,0,0,0,1,...,0,0,0,0,1,2,0,0,1,0
28005,HOBBIES_2_149_WI_3_evaluation,HOBBIES_2_149,HOBBIES_2,HOBBIES,WI_3,WI,0,0,0,0,...,1,1,0,0,2,0,0,0,0,0

### Compiling the hierarchies

In [215]:
try:
    df.drop(
        columns=["item_id", "dept_id", "cat_id", "store_id", "state_id"], inplace=True
    )
except:
    _ = 1

df["Cat/Dept/Item/State"] = df["id"].apply(lambda x: "_".join(x.split("_")[:-1]))
df["Cat/Dept/Item"] = df["id"].apply(lambda x: "_".join(x.split("_")[:-3]))
df["Cat/Dept"] = df["id"].apply(lambda x: "_".join(x.split("_")[:-4]))
df["Cat"] = df["id"].apply(lambda x: x.split("_")[-6])

In [216]:
start = pd.to_datetime("2016-01-01")
ds = [start + pd.Timedelta(days=int(x[2:])) for x in (df.columns)[1:-4]]
ds = ["unique_id"] + ds + ["Cat/Dept/Item/State", "Cat/Dept/Item", "Cat/Dept", "Cat"]

In [217]:
df.columns = ds
df["unique_id"] = df["Cat/Dept/Item/State"]

In [218]:
df

,unique_id,2016-01-02 00:00:00,2016-01-03 00:00:00,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-09 00:00:00,2016-01-10 00:00:00,...,2021-04-20 00:00:00,2021-04-21 00:00:00,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,2021-04-25 00:00:00,Cat/Dept/Item/State,Cat/Dept/Item,Cat/Dept,Cat
0,HOBBIES_1_001_CA_1,0,0,0,0,0,0,0,0,0,...,0,0,3,3,0,1,HOBBIES_1_001_CA_1,HOBBIES_1_001,HOBBIES_1,HOBBIES
1,HOBBIES_1_002_CA_1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,HOBBIES_1_002_CA_1,HOBBIES_1_002,HOBBIES_1,HOBBIES
2,HOBBIES_1_003_CA_1,0,0,0,0,0,0,0,0,0,...,0,0,2,3,0,1,HOBBIES_1_003_CA_1,HOBBIES_1_003,HOBBIES_1,HOBBIES
3,HOBBIES_1_004_CA_1,0,0,0,0,0,0,0,0,0,...,0,1,3,0,2,6,HOBBIES_1_004_CA_1,HOBBIES_1_004,HOBBIES_1,HOBBIES
4,HOBBIES_1_005_CA_1,0,0,0,0,0,0,0,0,0,...,1,0,0,2,1,0,HOBBIES_1_005_CA_1,HOBBIES_1_005,HOBBIES_1,HOBBIES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28001,HOBBIES_2_145_WI_3,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,HOBBIES_2_145_WI_3,HOBBIES_2_145,HOBBIES_2,HOBBIES
28002,HOBBIES_2_146_WI_3,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,HOBBIES_2_146_WI_3,HOBBIES_2_146,HOBBIES_2,HOBBIES
28003,HOBBIES_2_147_WI_3,0,0,0,0,0,0,0,0,0,...,0,1,2,0,0,0,HOBBIES_2_147_WI_3,HOBBIES_2_147,HOBBIES_2,HOBBIES
28004,HOBBIES_2_148_WI_3,0,0,0,1,0,0,0,1,0,...,1,2,0,0,1,0,HOBBIES_2_148_WI_3,HOBBIES_2_148,HOBBIES_2,HOBBIES
28005,HOBBIES_2_149_WI_3,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,HOBBIES_2_149_WI_3,HOBBIES_2_149,HOBBIES_2,HOBBIES

#### Roll-up to produce parent forecasts

In [219]:
tags = {}
tags["Cat"] = df["Cat"].unique()
tags["Cat/Dept"] = df["Cat/Dept"].unique()
tags["Cat/Dept/Item"] = df["Cat/Dept/Item"].unique()
tags["Cat/Dept/Item/State"] = df["Cat/Dept/Item/State"].unique()

In [220]:
tags

{'Cat': array(['HOBBIES'], dtype=object),
 'Cat/Dept': array(['HOBBIES_1', 'HOBBIES_2'], dtype=object),
 'Cat/Dept/Item': array(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', 'HOBBIES_1_004',
        'HOBBIES_1_005', 'HOBBIES_1_006', 'HOBBIES_1_007', 'HOBBIES_1_008',
        'HOBBIES_1_009', 'HOBBIES_1_010', 'HOBBIES_1_011', 'HOBBIES_1_012',
        'HOBBIES_1_013', 'HOBBIES_1_014', 'HOBBIES_1_015', 'HOBBIES_1_016',
        'HOBBIES_1_017', 'HOBBIES_1_018', 'HOBBIES_1_019', 'HOBBIES_1_020',
        'HOBBIES_1_021', 'HOBBIES_1_022', 'HOBBIES_1_023', 'HOBBIES_1_024',
        'HOBBIES_1_025', 'HOBBIES_1_026', 'HOBBIES_1_027', 'HOBBIES_1_028',
        'HOBBIES_1_029', 'HOBBIES_1_030', 'HOBBIES_1_031', 'HOBBIES_1_032',
        'HOBBIES_1_033', 'HOBBIES_1_034', 'HOBBIES_1_035', 'HOBBIES_1_036',
        'HOBBIES_1_037', 'HOBBIES_1_038', 'HOBBIES_1_039', 'HOBBIES_1_040',
        'HOBBIES_1_041', 'HOBBIES_1_042', 'HOBBIES_1_043', 'HOBBIES_1_044',
        'HOBBIES_1_045', 'HOBBIES_1_046', 'HOBBIES_1_047', 'HOBBIES_1_048',
        'HOBBIES_1_049', 'HOBBIES_1_050', 'HOBBIES_1_051', 'HOBBIES_1_052',
        'HOBBIES_1_053', 'HOBBIES_1_054', 'HOBBIES_1_055', 'HOBBIES_1_056',
        'HOBBIES_1_057', 'HOBBIES_1_058', 'HOBBIES_1_060', 'HOBBIES_1_061',
        'HOBBIES_1_062', 'HOBBIES_1_063', 'HOBBIES_1_064', 'HOBBIES_1_065',
        'HOBBIES_1_066', 'HOBBIES_1_067', 'HOBBIES_1_068', 'HOBBIES_1_069',
        'HOBBIES_1_070', 'HOBBIES_1_072', 'HOBBIES_1_073', 'HOBBIES_1_074',
        'HOBBIES_1_075', 'HOBBIES_1_076', 'HOBBIES_1_077', 'HOBBIES_1_078',
        'HOBBIES_1_079', 'HOBBIES_1_080', 'HOBBIES_1_081', 'HOBBIES_1_082',
        'HOBBIES_1_083', 'HOBBIES_1_084', 'HOBBIES_1_085', 'HOBBIES_1_086',
        'HOBBIES_1_087', 'HOBBIES_1_088', 'HOBBIES_1_089', 'HOBBIES_1_090',
        'HOBBIES_1_091', 'HOBBIES_1_092', 'HOBBIES_1_093', 'HOBBIES_1_094',
        'HOBBIES_1_095', 'HOBBIES_1_097', 'HOBBIES_1_098', 'HOBBIES_1_099',
        'HOBBIES_1_100', 'HOBBIES_1_102', 'HOBBIES_1_103', 'HOBBIES_1_104',
        'HOBBIES_1_105', 'HOBBIES_1_106', 'HOBBIES_1_107', 'HOBBIES_1_108',
        'HOBBIES_1_109', 'HOBBIES_1_110', 'HOBBIES_1_111', 'HOBBIES_1_112',
        'HOBBIES_1_113', 'HOBBIES_1_114', 'HOBBIES_1_115', 'HOBBIES_1_116',
        'HOBBIES_1_117', 'HOBBIES_1_118', 'HOBBIES_1_119', 'HOBBIES_1_120',
        'HOBBIES_1_121', 'HOBBIES_1_122', 'HOBBIES_1_123', 'HOBBIES_1_124',
        'HOBBIES_1_125', 'HOBBIES_1_126', 'HOBBIES_1_127', 'HOBBIES_1_128',
        'HOBBIES_1_129', 'HOBBIES_1_130', 'HOBBIES_1_131', 'HOBBIES_1_132',
        'HOBBIES_1_133', 'HOBBIES_1_134', 'HOBBIES_1_135', 'HOBBIES_1_136',
        'HOBBIES_1_137', 'HOBBIES_1_138', 'HOBBIES_1_139', 'HOBBIES_1_140',
        'HOBBIES_1_141', 'HOBBIES_1_142', 'HOBBIES_1_143', 'HOBBIES_1_144',
        'HOBBIES_1_145', 'HOBBIES_1_146', 'HOBBIES_1_147', 'HOBBIES_1_148',
        'HOBBIES_1_149', 'HOBBIES_1_150', 'HOBBIES_1_151', 'HOBBIES_1_152',
        'HOBBIES_1_153', 'HOBBIES_1_154', 'HOBBIES_1_155', 'HOBBIES_1_156',
        'HOBBIES_1_157', 'HOBBIES_1_158', 'HOBBIES_1_159', 'HOBBIES_1_160',
        'HOBBIES_1_161', 'HOBBIES_1_162', 'HOBBIES_1_163', 'HOBBIES_1_164',
        'HOBBIES_1_165', 'HOBBIES_1_166', 'HOBBIES_1_167', 'HOBBIES_1_168',
        'HOBBIES_1_169', 'HOBBIES_1_170', 'HOBBIES_1_171', 'HOBBIES_1_172',
        'HOBBIES_1_173', 'HOBBIES_1_174', 'HOBBIES_1_175', 'HOBBIES_1_176',
        'HOBBIES_1_177', 'HOBBIES_1_178', 'HOBBIES_1_179', 'HOBBIES_1_180',
        'HOBBIES_1_181', 'HOBBIES_1_183', 'HOBBIES_1_184', 'HOBBIES_1_185',
        'HOBBIES_1_186', 'HOBBIES_1_187', 'HOBBIES_1_188', 'HOBBIES_1_189',
        'HOBBIES_1_190', 'HOBBIES_1_191', 'HOBBIES_1_192', 'HOBBIES_1_193',
        'HOBBIES_1_194', 'HOBBIES_1_195', 'HOBBIES_1_197', 'HOBBIES_1_198',
        'HOBBIES_1_199', 'HOBBIES_1_200', 'HOBBIES_1_201', 'HOBBIES_1_202',
        'HOBBIES_1_203', 'HOBBIES_1_204', 'HOBBIES_1_205', 'HOBBIES_1_206',
        'HOBBIES_1_207', 'HOBBIES_1_208', 'HOBBIES_1_209', 'HOBBIES_1_210',
        'HOBBIES_1_211', 'HOBBIES_1_212', 'HOBBIES_1_213', 'HOBBIES_1_214',
        'HOBBIES_1_215', 'HOBBIES_1_216', 'HOBBIES_1_217', 'HOBBIES_1_218',
        'HOBBIES_1_219', 'HOBBIES_1_220', 'HOBBIES_1_221', 'HOBBIES_1_223',
        'HOBBIES_1_224', 'HOBBIES_1_225', 'HOBBIES_1_226', 'HOBBIES_1_227',
        'HOBBIES_1_228', 'HOBBIES_1_229', 'HOBBIES_1_230', 'HOBBIES_1_231',
        'HOBBIES_1_232', 'HOBBIES_1_233', 'HOBBIES_1_234', 'HOBBIES_1_235',
        'HOBBIES_1_236', 'HOBBIES_1_237', 'HOBBIES_1_238', 'HOBBIES_1_239',
        'HOBBIES_1_240', 'HOBBIES_1_241', 'HOBBIES_1_242', 'HOBBIES_1_243',
        'HOBBIES_1_244', 'HOBBIES_1_245', 'HOBBIES_1_246', 'HOBBIES_1_247',
        'HOBBIES_1_248', 'HOBBIES_1_249', 'HOBBIES_1_250', 'HOBBIES_1_251',
        'HOBBIES_1_252', 'HOBBIES_1_253', 'HOBBIES_1_254', 'HOBBIES_1_255',
        'HOBBIES_1_256', 'HOBBIES_1_257', 'HOBBIES_1_258', 'HOBBIES_1_259',
        'HOBBIES_1_260', 'HOBBIES_1_261', 'HOBBIES_1_262', 'HOBBIES_1_263',
        'HOBBIES_1_264', 'HOBBIES_1_265', 'HOBBIES_1_266', 'HOBBIES_1_267',
        'HOBBIES_1_268', 'HOBBIES_1_269', 'HOBBIES_1_270', 'HOBBIES_1_271',
        'HOBBIES_1_272', 'HOBBIES_1_273', 'HOBBIES_1_274', 'HOBBIES_1_275',
        'HOBBIES_1_276', 'HOBBIES_1_277', 'HOBBIES_1_278', 'HOBBIES_1_279',
        'HOBBIES_1_280', 'HOBBIES_1_281', 'HOBBIES_1_282', 'HOBBIES_1_283',
        'HOBBIES_1_284', 'HOBBIES_1_285', 'HOBBIES_1_286', 'HOBBIES_1_287',
        'HOBBIES_1_288', 'HOBBIES_1_289', 'HOBBIES_1_290', 'HOBBIES_1_292',
        'HOBBIES_1_293', 'HOBBIES_1_294', 'HOBBIES_1_295', 'HOBBIES_1_296',
        'HOBBIES_1_297', 'HOBBIES_1_298', 'HOBBIES_1_299', 'HOBBIES_1_300',
        'HOBBIES_1_301', 'HOBBIES_1_302', 'HOBBIES_1_303', 'HOBBIES_1_304',
        'HOBBIES_1_305', 'HOBBIES_1_306', 'HOBBIES_1_307', 'HOBBIES_1_308',
        'HOBBIES_1_309', 'HOBBIES_1_310', 'HOBBIES_1_311', 'HOBBIES_1_312',
        'HOBBIES_1_313', 'HOBBIES_1_314', 'HOBBIES_1_315', 'HOBBIES_1_316',
        'HOBBIES_1_317', 'HOBBIES_1_318', 'HOBBIES_1_319', 'HOBBIES_1_320',
        'HOBBIES_1_321', 'HOBBIES_1_322', 'HOBBIES_1_323', 'HOBBIES_1_324',
        'HOBBIES_1_325', 'HOBBIES_1_326', 'HOBBIES_1_327', 'HOBBIES_1_328',
        'HOBBIES_1_329', 'HOBBIES_1_330', 'HOBBIES_1_331', 'HOBBIES_1_332',
        'HOBBIES_1_333', 'HOBBIES_1_334', 'HOBBIES_1_335', 'HOBBIES_1_336',
        'HOBBIES_1_337', 'HOBBIES_1_338', 'HOBBIES_1_339', 'HOBBIES_1_340',
        'HOBBIES_1_341', 'HOBBIES_1_342', 'HOBBIES_1_343', 'HOBBIES_1_344',
        'HOBBIES_1_345', 'HOBBIES_1_346', 'HOBBIES_1_347', 'HOBBIES_1_348',
        'HOBBIES_1_349', 'HOBBIES_1_350', 'HOBBIES_1_351', 'HOBBIES_1_352',
        'HOBBIES_1_353', 'HOBBIES_1_354', 'HOBBIES_1_355', 'HOBBIES_1_356',
        'HOBBIES_1_357', 'HOBBIES_1_358', 'HOBBIES_1_359', 'HOBBIES_1_360',
        'HOBBIES_1_361', 'HOBBIES_1_362', 'HOBBIES_1_363', 'HOBBIES_1_364',
        'HOBBIES_1_365', 'HOBBIES_1_366', 'HOBBIES_1_367', 'HOBBIES_1_368',
        'HOBBIES_1_369', 'HOBBIES_1_370', 'HOBBIES_1_371', 'HOBBIES_1_372',
        'HOBBIES_1_373', 'HOBBIES_1_374', 'HOBBIES_1_375', 'HOBBIES_1_376',
        'HOBBIES_1_377', 'HOBBIES_1_378', 'HOBBIES_1_379', 'HOBBIES_1_380',
        'HOBBIES_1_381', 'HOBBIES_1_382', 'HOBBIES_1_383', 'HOBBIES_1_384',
        'HOBBIES_1_385', 'HOBBIES_1_386', 'HOBBIES_1_387', 'HOBBIES_1_388',
        'HOBBIES_1_389', 'HOBBIES_1_390', 'HOBBIES_1_391', 'HOBBIES_1_392',
        'HOBBIES_1_393', 'HOBBIES_1_394', 'HOBBIES_1_395', 'HOBBIES_1_396',
        'HOBBIES_1_397', 'HOBBIES_1_398', 'HOBBIES_1_399', 'HOBBIES_1_400',
        'HOBBIES_1_401', 'HOBBIES_1_402', 'HOBBIES_1_403', 'HOBBIES_1_404',
        'HOBBIES_1_405', 'HOBBIES_1_406', 'HOBBIES_1_407', 'HOBBIES_1_408',
        'HOBBIES_1_409', 'HOBBIES_1_410', 'HOBBIES_1_411', 'HOBBIES_1_412',
        'HOBBIES_1_413', 'HOBBIES_1_414', 'HOBBIES_1_415', 'HOBBIES_1_416',
        'HOBBIES_1_417', 'HOBBIES_1_418', 'HOBBIES_1_419', 'HOBBIES_1_420',
        'HOBBIES_1_421', 'HOBBIES_1_422', 'HOBBIES_1_423', 'HOBBIES_1_424',
        'HOBBIES_2_001', 'HOBBIES_2_002', 'HOBBIES_2_003', 'HOBBIES_2_004',
        'HOBBIES_2_005', 'HOBBIES_2_006', 'HOBBIES_2_007', 'HOBBIES_2_008',
        'HOBBIES_2_009', 'HOBBIES_2_010', 'HOBBIES_2_011', 'HOBBIES_2_012',
        'HOBBIES_2_013', 'HOBBIES_2_014', 'HOBBIES_2_015', 'HOBBIES_2_016',
        'HOBBIES_2_017', 'HOBBIES_2_018', 'HOBBIES_2_019', 'HOBBIES_2_020',
        'HOBBIES_2_021', 'HOBBIES_2_022', 'HOBBIES_2_023', 'HOBBIES_2_024',
        'HOBBIES_2_025', 'HOBBIES_2_026', 'HOBBIES_2_027', 'HOBBIES_2_028',
        'HOBBIES_2_029', 'HOBBIES_2_030', 'HOBBIES_2_031', 'HOBBIES_2_032',
        'HOBBIES_2_033', 'HOBBIES_2_034', 'HOBBIES_2_035', 'HOBBIES_2_036',
        'HOBBIES_2_037', 'HOBBIES_2_038', 'HOBBIES_2_039', 'HOBBIES_2_040',
        'HOBBIES_2_041', 'HOBBIES_2_042', 'HOBBIES_2_043', 'HOBBIES_2_044',
        'HOBBIES_2_045', 'HOBBIES_2_046', 'HOBBIES_2_047', 'HOBBIES_2_048',
        'HOBBIES_2_049', 'HOBBIES_2_050', 'HOBBIES_2_051', 'HOBBIES_2_052',
        'HOBBIES_2_053', 'HOBBIES_2_054', 'HOBBIES_2_055', 'HOBBIES_2_056',
        'HOBBIES_2_057', 'HOBBIES_2_058', 'HOBBIES_2_059', 'HOBBIES_2_060',
        'HOBBIES_2_061', 'HOBBIES_2_062', 'HOBBIES_2_063', 'HOBBIES_2_064',
        'HOBBIES_2_065', 'HOBBIES_2_066', 'HOBBIES_2_067', 'HOBBIES_2_068',
        'HOBBIES_2_069', 'HOBBIES_2_070', 'HOBBIES_2_071', 'HOBBIES_2_072',
        'HOBBIES_2_073', 'HOBBIES_2_074', 'HOBBIES_2_075', 'HOBBIES_2_076',
        'HOBBIES_2_077', 'HOBBIES_2_078', 'HOBBIES_2_079', 'HOBBIES_2_080',
        'HOBBIES_2_081', 'HOBBIES_2_082', 'HOBBIES_2_083', 'HOBBIES_2_084',
        'HOBBIES_2_085', 'HOBBIES_2_086', 'HOBBIES_2_087', 'HOBBIES_2_088',
        'HOBBIES_2_089', 'HOBBIES_2_090', 'HOBBIES_2_091', 'HOBBIES_2_092',
        'HOBBIES_2_093', 'HOBBIES_2_094', 'HOBBIES_2_095', 'HOBBIES_2_096',
        'HOBBIES_2_097', 'HOBBIES_2_098', 'HOBBIES_2_099', 'HOBBIES_2_100',
        'HOBBIES_2_101', 'HOBBIES_2_102', 'HOBBIES_2_103', 'HOBBIES_2_104',
        'HOBBIES_2_105', 'HOBBIES_2_106', 'HOBBIES_2_107', 'HOBBIES_2_108',
        'HOBBIES_2_109', 'HOBBIES_2_110', 'HOBBIES_2_111', 'HOBBIES_2_112',
        'HOBBIES_2_113', 'HOBBIES_2_114', 'HOBBIES_2_115', 'HOBBIES_2_116',
        'HOBBIES_2_117', 'HOBBIES_2_118', 'HOBBIES_2_119', 'HOBBIES_2_120',
        'HOBBIES_2_121', 'HOBBIES_2_122', 'HOBBIES_2_123', 'HOBBIES_2_124',
        'HOBBIES_2_125', 'HOBBIES_2_126', 'HOBBIES_2_127', 'HOBBIES_2_128',
        'HOBBIES_2_129', 'HOBBIES_2_130', 'HOBBIES_2_131', 'HOBBIES_2_132',
        'HOBBIES_2_133', 'HOBBIES_2_134', 'HOBBIES_2_135', 'HOBBIES_2_136',
        'HOBBIES_2_137', 'HOBBIES_2_138', 'HOBBIES_2_139', 'HOBBIES_2_140',
        'HOBBIES_2_141', 'HOBBIES_2_142', 'HOBBIES_2_143', 'HOBBIES_2_144',
        'HOBBIES_2_145', 'HOBBIES_2_146', 'HOBBIES_2_147', 'HOBBIES_2_148',
        'HOBBIES_2_149'], dtype=object),
 'Cat/Dept/Item/State': array(['HOBBIES_1_001_CA_1', 'HOBBIES_1_002_CA_1', 'HOBBIES_1_003_CA_1',
        ..., 'HOBBIES_2_147_WI_3', 'HOBBIES_2_148_WI_3',
        'HOBBIES_2_149_WI_3'], dtype=object)}

In [221]:
node_map = {}
node_map_inv = {}

i = 0

for l in ["Cat/Dept/Item/State", "Cat/Dept/Item", "Cat/Dept", "Cat"]:
    for c in tags[l]:
        node_map[i] = c
        node_map_inv[c] = i
        i += 1

total_bottom = len(tags["Cat/Dept/Item/State"])
total_parent = len(tags["Cat/Dept/Item"]) + len(tags["Cat/Dept"]) + len(tags["Cat"])
parents = list(tags["Cat/Dept/Item"]) + list(tags["Cat/Dept"]) + list(tags["Cat"])
time_index = (df.columns)[1:-4]

In [222]:
pickle.dump([node_map_inv, node_map], open(data_dir + "m5_node_map.pkl", "wb"))

In [223]:
df

,unique_id,2016-01-02 00:00:00,2016-01-03 00:00:00,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-09 00:00:00,2016-01-10 00:00:00,...,2021-04-20 00:00:00,2021-04-21 00:00:00,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,2021-04-25 00:00:00,Cat/Dept/Item/State,Cat/Dept/Item,Cat/Dept,Cat
0,HOBBIES_1_001_CA_1,0,0,0,0,0,0,0,0,0,...,0,0,3,3,0,1,HOBBIES_1_001_CA_1,HOBBIES_1_001,HOBBIES_1,HOBBIES
1,HOBBIES_1_002_CA_1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,HOBBIES_1_002_CA_1,HOBBIES_1_002,HOBBIES_1,HOBBIES
2,HOBBIES_1_003_CA_1,0,0,0,0,0,0,0,0,0,...,0,0,2,3,0,1,HOBBIES_1_003_CA_1,HOBBIES_1_003,HOBBIES_1,HOBBIES
3,HOBBIES_1_004_CA_1,0,0,0,0,0,0,0,0,0,...,0,1,3,0,2,6,HOBBIES_1_004_CA_1,HOBBIES_1_004,HOBBIES_1,HOBBIES
4,HOBBIES_1_005_CA_1,0,0,0,0,0,0,0,0,0,...,1,0,0,2,1,0,HOBBIES_1_005_CA_1,HOBBIES_1_005,HOBBIES_1,HOBBIES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28001,HOBBIES_2_145_WI_3,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,HOBBIES_2_145_WI_3,HOBBIES_2_145,HOBBIES_2,HOBBIES
28002,HOBBIES_2_146_WI_3,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,HOBBIES_2_146_WI_3,HOBBIES_2_146,HOBBIES_2,HOBBIES
28003,HOBBIES_2_147_WI_3,0,0,0,0,0,0,0,0,0,...,0,1,2,0,0,0,HOBBIES_2_147_WI_3,HOBBIES_2_147,HOBBIES_2,HOBBIES
28004,HOBBIES_2_148_WI_3,0,0,0,1,0,0,0,1,0,...,1,2,0,0,1,0,HOBBIES_2_148_WI_3,HOBBIES_2_148,HOBBIES_2,HOBBIES
28005,HOBBIES_2_149_WI_3,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,HOBBIES_2_149_WI_3,HOBBIES_2_149,HOBBIES_2,HOBBIES

In [224]:
parent_historical = np.zeros((total_parent, len(time_index))).astype(np.int64)

for _, ro in tqdm(df.iterrows()):
    vals = ro[time_index].values.astype(np.int64)
    parent_historical[node_map_inv[ro["Cat/Dept/Item"]] - total_bottom, :] += vals
    parent_historical[node_map_inv[ro["Cat/Dept"]] - total_bottom, :] += vals
    parent_historical[node_map_inv[ro["Cat"]] - total_bottom, :] += vals

5650it [00:11, 497.61it/s]

In [225]:
parent_df = pd.DataFrame(data=parent_historical)
parent_df.columns = time_index

In [226]:
parent_df["unique_id"] = parents

In [227]:
parent_df["Cat/Dept/Item/State"] = np.nan

In [228]:
def p0(x):
    l = x.split("_")
    if len(l) < 3:
        return np.nan
    return x


def p1(x):
    l = x.split("_")
    if len(l) < 2:
        return np.nan
    return "_".join(l[:2])


def p2(x):
    l = x.split("_")
    # if len(l) < 1: return np.nan
    return "_".join(l[:1])


parent_df["Cat/Dept/Item"] = parent_df["unique_id"].apply(p0)
parent_df["Cat/Dept"] = parent_df["unique_id"].apply(p1)
parent_df["Cat"] = parent_df["unique_id"].apply(p2)
parent_df

,2016-01-02 00:00:00,2016-01-03 00:00:00,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-09 00:00:00,2016-01-10 00:00:00,2016-01-11 00:00:00,...,2021-04-21 00:00:00,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,2021-04-25 00:00:00,unique_id,Cat/Dept/Item/State,Cat/Dept/Item,Cat/Dept,Cat
0,0,0,0,0,0,0,0,0,0,0,...,10,7,8,6,9,HOBBIES_1_001,NaN,HOBBIES_1_001,HOBBIES_1,HOBBIES
1,0,0,0,0,0,0,0,0,0,0,...,1,3,3,3,5,HOBBIES_1_002,NaN,HOBBIES_1_002,HOBBIES_1,HOBBIES
2,0,0,0,0,0,0,0,0,0,0,...,4,2,5,3,3,HOBBIES_1_003,NaN,HOBBIES_1_003,HOBBIES_1,HOBBIES
3,15,17,7,17,7,11,17,17,23,16,...,8,8,7,15,24,HOBBIES_1_004,NaN,HOBBIES_1_004,HOBBIES_1,HOBBIES
4,0,0,0,0,0,0,0,0,0,0,...,7,8,8,14,13,HOBBIES_1_005,NaN,HOBBIES_1_005,HOBBIES_1,HOBBIES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,0,2,2,2,0,1,1,2,1,0,...,2,2,0,3,2,HOBBIES_2_148,NaN,HOBBIES_2_148,HOBBIES_2,HOBBIES
564,0,0,0,0,0,0,0,0,0,0,...,5,1,6,2,0,HOBBIES_2_149,NaN,HOBBIES_2_149,HOBBIES_2,HOBBIES
565,3610,3172,2497,2531,1714,3133,2855,3831,2741,2514,...,3291,3027,3761,4832,4720,HOBBIES_1,NaN,NaN,HOBBIES_1,HOBBIES
566,154,185,185,138,100,87,89,155,158,101,...,449,448,382,501,560,HOBBIES_2,NaN,NaN,HOBBIES_2,HOBBIES
567,3764,3357,2682,2669,1814,3220,2944,3986,2899,2615,...,3740,3475,4143,5333,5280,HOBBIES,NaN,NaN,NaN,HOBBIES

In [229]:
total_df = pd.concat([df, parent_df])
total_df.to_csv(data_dir + "m5_historical.csv", index=False)

#### Compute edge list for LHTS

In [ ]:
edge_list = []
parent_list = []

for i, ro in tqdm(total_df.iterrows()):
    if type(ro["Cat/Dept/Item/State"]) is str:
        edge_list.append(
            [node_map_inv[ro["unique_id"]], node_map_inv[ro["Cat/Dept/Item"]]]
        )
        parent_list.append(
            [
                node_map_inv[ro["unique_id"]],
                node_map_inv[ro["Cat/Dept/Item"]],
                node_map_inv[ro["Cat/Dept"]],
                node_map_inv[ro["Cat"]],
            ]
        )
    elif type(ro["Cat/Dept/Item"]) is str:
        edge_list.append([node_map_inv[ro["unique_id"]], node_map_inv[ro["Cat/Dept"]]])
        parent_list.append(
            [
                node_map_inv[ro["unique_id"]],
                node_map_inv[ro["Cat/Dept"]],
                node_map_inv[ro["Cat"]],
                -1,
            ]
        )
    elif type(ro["Cat/Dept"]) is str:
        edge_list.append([node_map_inv[ro["unique_id"]], node_map_inv[ro["Cat"]]])
        parent_list.append(
            [node_map_inv[ro["unique_id"]], node_map_inv[ro["Cat"]], -1, -1]
        )
    else:
        parent_list.append([node_map_inv[ro["unique_id"]], -1, -1, -1])

In [ ]:
np.save(open(data_dir + STORE_ROOT + "/m5_hierarchy.npy", "wb"), np.array(edge_list))
np.save(open(data_dir + STORE_ROOT + "/hierarchy.npy", "wb"), np.array(edge_list))
np.save(
    open(data_dir + STORE_ROOT + "/m5_hierarchy_parent.npy", "wb"),
    np.array(parent_list),
)

In [ ]:
np.array(parent_list).shape

### Produce forecast

In [ ]:
FORECAST = False

if FORECAST:
    import dask.dataframe as dd

    ddf = dd.from_pandas(total_df, npartitions=4096)

    def predict(row):
        data = pd.DataFrame(
            {
                "ds": (row.index)[1:-4][-2 * TIME_HORIZON : -TIME_HORIZON],
                "y": (row.values)[1:-4][-2 * TIME_HORIZON : -TIME_HORIZON],
            }
        )
        m = Prophet()
        m.fit(data)

        future = m.make_future_dataframe(periods=TIME_HORIZON)
        forecast = m.predict(future)

        return row.unique_id, forecast[["yhat"]][-TIME_HORIZON:].values.reshape(-1)

    dask_series = ddf.apply(predict, axis=1, meta=("float", "object"))
    result = dask_series.compute(scheduler="processes")
    pickle.dump(result, open(data_dir + "m5_prophet_forecast.pkl", "wb"))

### Sanity check by plotting

In [ ]:
import pickle

if FORECAST:
    predictions = result
else:
    if SMALL:
        predictions = pickle.load(open(data_dir + "m5_prophet_forecast.pkl", "rb"))
    else:
        predictions = pickle.load(
            open(data_dir + "m5_prophet_forecast_large.pkl", "rb")
        )

In [ ]:
predictions

In [ ]:
import seaborn as sns


def smape(a, f):
    return 1 / len(a) * np.sum(2 * np.abs(f - a) / (np.abs(a) + np.abs(f)) * 100)


pred = predictions.values[0][1]
gt = total_df.loc[total_df["unique_id"] == predictions.values[0][0]].values[0, 1:-4][
    -TIME_HORIZON:
]

sns.lineplot(x=time_index[-TIME_HORIZON:], y=gt, label="ground truth")
sns.lineplot(x=time_index[-TIME_HORIZON:], y=pred, label="prediction")

print("SMAPE: ", smape(gt, pred))

In [ ]:
predictions.values[1]

### Export LHTS format

In [ ]:
pickle.dump(time_index, open(data_dir + "m5_time_index_all.pkl", "wb"))

In [ ]:
# parent_list

In [ ]:
total_ts = total_bottom + total_parent

pred_tensor = np.zeros((total_ts, TIME_HORIZON))
gt_tensor = np.zeros((total_ts, TIME_HORIZON))

for i, ro in tqdm(total_df.iterrows()):
    gt_tensor[node_map_inv[ro.unique_id], :] = ro.values[1:-4][-TIME_HORIZON:]

for unique_id, pred in tqdm(predictions):
    pred_tensor[node_map_inv[unique_id], :] = pred

In [ ]:
top_down_tensor = np.zeros((total_ts, TIME_HORIZON))
for l in tqdm(parent_list):
    i = l[0]
    for c in [l[3], l[2], l[1]]:
        if c != -1:
            break
    top_down_tensor[i, :] = gt_tensor[i, :] / (gt_tensor[c, :] + 1e-9)

In [ ]:
level_2_tensor = np.zeros((total_ts, TIME_HORIZON))

for l in tqdm(parent_list):
    nz = list(filter(lambda x: x != -1, l))
    if len(nz) == 1:
        continue
    i = l[0]
    c = l[-2]
    level_2_tensor[i, :] = gt_tensor[i, :] / (gt_tensor[c, :] + 1e-9)

level_3_tensor = np.zeros((total_ts, TIME_HORIZON))

for l in tqdm(parent_list):
    nz = list(filter(lambda x: x != -1, l))
    if len(nz) <= 2:
        continue
    i = l[0]
    c = l[-3]
    level_3_tensor[i, :] = gt_tensor[i, :] / (gt_tensor[c, :] + 1e-9)

In [ ]:
np.save(open(data_dir + STORE_ROOT + "/pred_tensor.npy", "wb"), pred_tensor)
np.save(open(data_dir + STORE_ROOT + "/gt_tensor.npy", "wb"), gt_tensor)
np.save(open(data_dir + STORE_ROOT + "/top_down_tensor.npy", "wb"), top_down_tensor)
np.save(open(data_dir + STORE_ROOT + "/level_2_tensor.npy", "wb"), level_2_tensor)
np.save(open(data_dir + STORE_ROOT + "/level_3_tensor.npy", "wb"), level_3_tensor)

In [ ]:
pred_tensor.shape

In [ ]:
N_CHUNKS = 8

for t, n in [
    (pred_tensor, "pred_tensor"),
    (gt_tensor, "gt_tensor"),
    (top_down_tensor, "top_down_tensor"),
    (level_2_tensor, "level_2_tensor"),
    (level_3_tensor, "level_3_tensor"),
]:
    l = np.array_split(t, N_CHUNKS)
    for i, p in enumerate(l):
        np.save(
            open(data_dir + STORE_ROOT + "/mpi/" + n + "_" + str(i) + ".npy", "wb"), p
        )

### Export Nixtla format

In [ ]:
pickle.dump(tags, open(NIXTLA_ROOT + "/tags.pkl", "wb"))

In [ ]:
y_gt = {"unique_id": [], "ds": [], "y": []}
yhat = {"unique_id": [], "ds": [], "y": []}

idx = time_index[-TIME_HORIZON:]

for _, ro in tqdm(total_df.iterrows()):
    vals = ro[time_index].values.astype(np.int64)[-TIME_HORIZON:]
    for i in range(TIME_HORIZON):
        y_gt["unique_id"].append(ro.unique_id)
        y_gt["ds"].append(idx[i])
        y_gt["y"].append(vals[i])

for unique_id, pred in tqdm(predictions):
    for i in range(TIME_HORIZON):
        yhat["unique_id"].append(unique_id)
        yhat["ds"].append(idx[i])
        yhat["y"].append(pred[i])

In [ ]:
Y_gt = pd.DataFrame(y_gt)
Y_hat = pd.DataFrame(yhat)
Y_hat.rename(columns={"y": "prophet"}, inplace=True)

Y_gt.to_csv(data_dir + NIXTLA_ROOT + "/nixtla_y_gt.csv", index=False)
Y_hat.to_csv(data_dir + NIXTLA_ROOT + "/nixtla_y_hat.csv", index=False)

In [ ]:
import gc

nrow = (
    len(tags["Cat"])
    + len(tags["Cat/Dept"])
    + len(tags["Cat/Dept/Item"])
    + len(tags["Cat/Dept/Item/State"])
)
ncol = len(tags["Cat/Dept/Item/State"])

columns = list(tags["Cat/Dept/Item/State"])
rows = (
    list(tags["Cat"])
    + list(tags["Cat/Dept"])
    + list(tags["Cat/Dept/Item"])
    + list(tags["Cat/Dept/Item/State"])
)

In [ ]:
raw_S = np.zeros((nrow, ncol))

In [ ]:
rows_map = {v: k for k, v in dict(enumerate(rows)).items()}
columns_map = {v: k for k, v in dict(enumerate(columns)).items()}

In [ ]:
for i, ro in tqdm(total_df.iterrows(), total=len(total_df)):
    if ro.unique_id not in columns_map:
        continue
    co = columns_map[ro.unique_id]
    ro4 = ro["Cat/Dept/Item/State"]
    ro3 = ro["Cat/Dept/Item"]
    ro2 = ro["Cat/Dept"]
    ro1 = ro["Cat"]
    if type(ro4) is str:
        raw_S[rows_map[ro4], co] = 1
    if type(ro3) is str:
        raw_S[rows_map[ro3], co] = 1
    if type(ro2) is str:
        raw_S[rows_map[ro2], co] = 1
    if type(ro1) is str:
        raw_S[rows_map[ro1], co] = 1

In [ ]:
raw_S.shape, pred_tensor.shape

In [ ]:
np.save(open(data_dir + NIXTLA_ROOT + "/S_tensor.npy", "wb"), raw_S)

In [ ]:
S_df = pd.DataFrame(data=raw_S, dtype=np.int8)
S_df.columns = columns
S_df.index = rows

In [ ]:
pickle.dump(S_df, open(NIXTLA_ROOT + "/nixtla_s.pkl", "wb"))

In [ ]:
S_df