## Benchmark Nixtla implementation single-process on M5

In [ ]:
!pip install hierarchicalforecast
!pip install -U numba statsforecast datasetsforecast

In [1]:
import numpy as np
import pandas as pd

# obtain hierarchical data
from datasetsforecast.hierarchical import HierarchicalData

# compute base forecast no coherent
from statsforecast.core import StatsForecast
from statsforecast.models import AutoARIMA, Naive

# obtain hierarchical reconciliation methods and evaluation
from hierarchicalforecast.core import HierarchicalReconciliation
from hierarchicalforecast.evaluation import HierarchicalEvaluation
from hierarchicalforecast.methods import BottomUp, TopDown, MiddleOut

from timeit import default_timer as timer

DATA_ROOT = "m5_hobbies_nixtla"
ROOT = "/data/cmu/large-scale-hts-reconciliation/"
data_dir = ROOT + "notebooks/"

/home/linuxbrew/.linuxbrew/opt/python@3.9/lib/python3.9/site-packages/statsforecast/core.py:17: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
import pickle

tags = pickle.load(open(data_dir + DATA_ROOT + "/tags.pkl", "rb"))
S_df = pickle.load(open(data_dir + DATA_ROOT + "/nixtla_s.pkl", "rb"))
Y_df = pd.read_csv(data_dir + DATA_ROOT + "/nixtla_y_gt.csv")
Y_hat_df = pd.read_csv(data_dir + DATA_ROOT + "/nixtla_y_hat.csv")

# Y_df, S_df, tags = HierarchicalData.load('./data', 'TourismSmall')
Y_df["ds"] = pd.to_datetime(Y_df["ds"])

In [3]:
Y_df.set_index("unique_id", inplace=True)
Y_hat_df.set_index("unique_id", inplace=True)

In [4]:
Y_df.head()

                           ds  y
unique_id
HOBBIES_1_001_CA_1 2021-01-16  4
HOBBIES_1_001_CA_1 2021-01-17  0
HOBBIES_1_001_CA_1 2021-01-18  0
HOBBIES_1_001_CA_1 2021-01-19  0
HOBBIES_1_001_CA_1 2021-01-20  0

In [5]:
S_df.iloc[:5, :5]

,HOBBIES_1_001_CA_1,HOBBIES_1_002_CA_1,HOBBIES_1_003_CA_1,HOBBIES_1_004_CA_1,HOBBIES_1_005_CA_1
HOBBIES,1,1,1,1,1
HOBBIES_1,1,1,1,1,1
HOBBIES_2,0,0,0,0,0
HOBBIES_1_001,1,0,0,0,0
HOBBIES_1_002,0,1,0,0,0

In [6]:
tags

{'Cat': array(['HOBBIES'], dtype=object),
 'Cat/Dept': array(['HOBBIES_1', 'HOBBIES_2'], dtype=object),
 'Cat/Dept/Item': array(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', 'HOBBIES_1_004',
        'HOBBIES_1_005', 'HOBBIES_1_006', 'HOBBIES_1_007', 'HOBBIES_1_008',
        'HOBBIES_1_009', 'HOBBIES_1_010', 'HOBBIES_1_011', 'HOBBIES_1_012',
        'HOBBIES_1_013', 'HOBBIES_1_014', 'HOBBIES_1_015', 'HOBBIES_1_016',
        'HOBBIES_1_017', 'HOBBIES_1_018', 'HOBBIES_1_019', 'HOBBIES_1_020',
        'HOBBIES_1_021', 'HOBBIES_1_022', 'HOBBIES_1_023', 'HOBBIES_1_024',
        'HOBBIES_1_025', 'HOBBIES_1_026', 'HOBBIES_1_027', 'HOBBIES_1_028',
        'HOBBIES_1_029', 'HOBBIES_1_030', 'HOBBIES_1_031', 'HOBBIES_1_032',
        'HOBBIES_1_033', 'HOBBIES_1_034', 'HOBBIES_1_035', 'HOBBIES_1_036',
        'HOBBIES_1_037', 'HOBBIES_1_038', 'HOBBIES_1_039', 'HOBBIES_1_040',
        'HOBBIES_1_041', 'HOBBIES_1_042', 'HOBBIES_1_043', 'HOBBIES_1_044',
        'HOBBIES_1_045', 'HOBBIES_1_046', 'HOBBIES_1_047', 'HOBBIES_1_048',
        'HOBBIES_1_049', 'HOBBIES_1_050', 'HOBBIES_1_051', 'HOBBIES_1_052',
        'HOBBIES_1_053', 'HOBBIES_1_054', 'HOBBIES_1_055', 'HOBBIES_1_056',
        'HOBBIES_1_057', 'HOBBIES_1_058', 'HOBBIES_1_060', 'HOBBIES_1_061',
        'HOBBIES_1_062', 'HOBBIES_1_063', 'HOBBIES_1_064', 'HOBBIES_1_065',
        'HOBBIES_1_066', 'HOBBIES_1_067', 'HOBBIES_1_068', 'HOBBIES_1_069',
        'HOBBIES_1_070', 'HOBBIES_1_072', 'HOBBIES_1_073', 'HOBBIES_1_074',
        'HOBBIES_1_075', 'HOBBIES_1_076', 'HOBBIES_1_077', 'HOBBIES_1_078',
        'HOBBIES_1_079', 'HOBBIES_1_080', 'HOBBIES_1_081', 'HOBBIES_1_082',
        'HOBBIES_1_083', 'HOBBIES_1_084', 'HOBBIES_1_085', 'HOBBIES_1_086',
        'HOBBIES_1_087', 'HOBBIES_1_088', 'HOBBIES_1_089', 'HOBBIES_1_090',
        'HOBBIES_1_091', 'HOBBIES_1_092', 'HOBBIES_1_093', 'HOBBIES_1_094',
        'HOBBIES_1_095', 'HOBBIES_1_097', 'HOBBIES_1_098', 'HOBBIES_1_099',
        'HOBBIES_1_100', 'HOBBIES_1_102', 'HOBBIES_1_103', 'HOBBIES_1_104',
        'HOBBIES_1_105', 'HOBBIES_1_106', 'HOBBIES_1_107', 'HOBBIES_1_108',
        'HOBBIES_1_109', 'HOBBIES_1_110', 'HOBBIES_1_111', 'HOBBIES_1_112',
        'HOBBIES_1_113', 'HOBBIES_1_114', 'HOBBIES_1_115', 'HOBBIES_1_116',
        'HOBBIES_1_117', 'HOBBIES_1_118', 'HOBBIES_1_119', 'HOBBIES_1_120',
        'HOBBIES_1_121', 'HOBBIES_1_122', 'HOBBIES_1_123', 'HOBBIES_1_124',
        'HOBBIES_1_125', 'HOBBIES_1_126', 'HOBBIES_1_127', 'HOBBIES_1_128',
        'HOBBIES_1_129', 'HOBBIES_1_130', 'HOBBIES_1_131', 'HOBBIES_1_132',
        'HOBBIES_1_133', 'HOBBIES_1_134', 'HOBBIES_1_135', 'HOBBIES_1_136',
        'HOBBIES_1_137', 'HOBBIES_1_138', 'HOBBIES_1_139', 'HOBBIES_1_140',
        'HOBBIES_1_141', 'HOBBIES_1_142', 'HOBBIES_1_143', 'HOBBIES_1_144',
        'HOBBIES_1_145', 'HOBBIES_1_146', 'HOBBIES_1_147', 'HOBBIES_1_148',
        'HOBBIES_1_149', 'HOBBIES_1_150', 'HOBBIES_1_151', 'HOBBIES_1_152',
        'HOBBIES_1_153', 'HOBBIES_1_154', 'HOBBIES_1_155', 'HOBBIES_1_156',
        'HOBBIES_1_157', 'HOBBIES_1_158', 'HOBBIES_1_159', 'HOBBIES_1_160',
        'HOBBIES_1_161', 'HOBBIES_1_162', 'HOBBIES_1_163', 'HOBBIES_1_164',
        'HOBBIES_1_165', 'HOBBIES_1_166', 'HOBBIES_1_167', 'HOBBIES_1_168',
        'HOBBIES_1_169', 'HOBBIES_1_170', 'HOBBIES_1_171', 'HOBBIES_1_172',
        'HOBBIES_1_173', 'HOBBIES_1_174', 'HOBBIES_1_175', 'HOBBIES_1_176',
        'HOBBIES_1_177', 'HOBBIES_1_178', 'HOBBIES_1_179', 'HOBBIES_1_180',
        'HOBBIES_1_181', 'HOBBIES_1_183', 'HOBBIES_1_184', 'HOBBIES_1_185',
        'HOBBIES_1_186', 'HOBBIES_1_187', 'HOBBIES_1_188', 'HOBBIES_1_189',
        'HOBBIES_1_190', 'HOBBIES_1_191', 'HOBBIES_1_192', 'HOBBIES_1_193',
        'HOBBIES_1_194', 'HOBBIES_1_195', 'HOBBIES_1_197', 'HOBBIES_1_198',
        'HOBBIES_1_199', 'HOBBIES_1_200', 'HOBBIES_1_201', 'HOBBIES_1_202',
        'HOBBIES_1_203', 'HOBBIES_1_204', 'HOBBIES_1_205', 'HOBBIES_1_206',
        'HOBBIES_1_207', 'HOBBIES_1_208', 'HOBBIES_1_209', 'HOBBIES_1_210',
        'HOBBIES_1_211', 'HOBBIES_1_212', 'HOBBIES_1_213', 'HOBBIES_1_214',
        'HOBBIES_1_215', 'HOBBIES_1_216', 'HOBBIES_1_217', 'HOBBIES_1_218',
        'HOBBIES_1_219', 'HOBBIES_1_220', 'HOBBIES_1_221', 'HOBBIES_1_223',
        'HOBBIES_1_224', 'HOBBIES_1_225', 'HOBBIES_1_226', 'HOBBIES_1_227',
        'HOBBIES_1_228', 'HOBBIES_1_229', 'HOBBIES_1_230', 'HOBBIES_1_231',
        'HOBBIES_1_232', 'HOBBIES_1_233', 'HOBBIES_1_234', 'HOBBIES_1_235',
        'HOBBIES_1_236', 'HOBBIES_1_237', 'HOBBIES_1_238', 'HOBBIES_1_239',
        'HOBBIES_1_240', 'HOBBIES_1_241', 'HOBBIES_1_242', 'HOBBIES_1_243',
        'HOBBIES_1_244', 'HOBBIES_1_245', 'HOBBIES_1_246', 'HOBBIES_1_247',
        'HOBBIES_1_248', 'HOBBIES_1_249', 'HOBBIES_1_250', 'HOBBIES_1_251',
        'HOBBIES_1_252', 'HOBBIES_1_253', 'HOBBIES_1_254', 'HOBBIES_1_255',
        'HOBBIES_1_256', 'HOBBIES_1_257', 'HOBBIES_1_258', 'HOBBIES_1_259',
        'HOBBIES_1_260', 'HOBBIES_1_261', 'HOBBIES_1_262', 'HOBBIES_1_263',
        'HOBBIES_1_264', 'HOBBIES_1_265', 'HOBBIES_1_266', 'HOBBIES_1_267',
        'HOBBIES_1_268', 'HOBBIES_1_269', 'HOBBIES_1_270', 'HOBBIES_1_271',
        'HOBBIES_1_272', 'HOBBIES_1_273', 'HOBBIES_1_274', 'HOBBIES_1_275',
        'HOBBIES_1_276', 'HOBBIES_1_277', 'HOBBIES_1_278', 'HOBBIES_1_279',
        'HOBBIES_1_280', 'HOBBIES_1_281', 'HOBBIES_1_282', 'HOBBIES_1_283',
        'HOBBIES_1_284', 'HOBBIES_1_285', 'HOBBIES_1_286', 'HOBBIES_1_287',
        'HOBBIES_1_288', 'HOBBIES_1_289', 'HOBBIES_1_290', 'HOBBIES_1_292',
        'HOBBIES_1_293', 'HOBBIES_1_294', 'HOBBIES_1_295', 'HOBBIES_1_296',
        'HOBBIES_1_297', 'HOBBIES_1_298', 'HOBBIES_1_299', 'HOBBIES_1_300',
        'HOBBIES_1_301', 'HOBBIES_1_302', 'HOBBIES_1_303', 'HOBBIES_1_304',
        'HOBBIES_1_305', 'HOBBIES_1_306', 'HOBBIES_1_307', 'HOBBIES_1_308',
        'HOBBIES_1_309', 'HOBBIES_1_310', 'HOBBIES_1_311', 'HOBBIES_1_312',
        'HOBBIES_1_313', 'HOBBIES_1_314', 'HOBBIES_1_315', 'HOBBIES_1_316',
        'HOBBIES_1_317', 'HOBBIES_1_318', 'HOBBIES_1_319', 'HOBBIES_1_320',
        'HOBBIES_1_321', 'HOBBIES_1_322', 'HOBBIES_1_323', 'HOBBIES_1_324',
        'HOBBIES_1_325', 'HOBBIES_1_326', 'HOBBIES_1_327', 'HOBBIES_1_328',
        'HOBBIES_1_329', 'HOBBIES_1_330', 'HOBBIES_1_331', 'HOBBIES_1_332',
        'HOBBIES_1_333', 'HOBBIES_1_334', 'HOBBIES_1_335', 'HOBBIES_1_336',
        'HOBBIES_1_337', 'HOBBIES_1_338', 'HOBBIES_1_339', 'HOBBIES_1_340',
        'HOBBIES_1_341', 'HOBBIES_1_342', 'HOBBIES_1_343', 'HOBBIES_1_344',
        'HOBBIES_1_345', 'HOBBIES_1_346', 'HOBBIES_1_347', 'HOBBIES_1_348',
        'HOBBIES_1_349', 'HOBBIES_1_350', 'HOBBIES_1_351', 'HOBBIES_1_352',
        'HOBBIES_1_353', 'HOBBIES_1_354', 'HOBBIES_1_355', 'HOBBIES_1_356',
        'HOBBIES_1_357', 'HOBBIES_1_358', 'HOBBIES_1_359', 'HOBBIES_1_360',
        'HOBBIES_1_361', 'HOBBIES_1_362', 'HOBBIES_1_363', 'HOBBIES_1_364',
        'HOBBIES_1_365', 'HOBBIES_1_366', 'HOBBIES_1_367', 'HOBBIES_1_368',
        'HOBBIES_1_369', 'HOBBIES_1_370', 'HOBBIES_1_371', 'HOBBIES_1_372',
        'HOBBIES_1_373', 'HOBBIES_1_374', 'HOBBIES_1_375', 'HOBBIES_1_376',
        'HOBBIES_1_377', 'HOBBIES_1_378', 'HOBBIES_1_379', 'HOBBIES_1_380',
        'HOBBIES_1_381', 'HOBBIES_1_382', 'HOBBIES_1_383', 'HOBBIES_1_384',
        'HOBBIES_1_385', 'HOBBIES_1_386', 'HOBBIES_1_387', 'HOBBIES_1_388',
        'HOBBIES_1_389', 'HOBBIES_1_390', 'HOBBIES_1_391', 'HOBBIES_1_392',
        'HOBBIES_1_393', 'HOBBIES_1_394', 'HOBBIES_1_395', 'HOBBIES_1_396',
        'HOBBIES_1_397', 'HOBBIES_1_398', 'HOBBIES_1_399', 'HOBBIES_1_400',
        'HOBBIES_1_401', 'HOBBIES_1_402', 'HOBBIES_1_403', 'HOBBIES_1_404',
        'HOBBIES_1_405', 'HOBBIES_1_406', 'HOBBIES_1_407', 'HOBBIES_1_408',
        'HOBBIES_1_409', 'HOBBIES_1_410', 'HOBBIES_1_411', 'HOBBIES_1_412',
        'HOBBIES_1_413', 'HOBBIES_1_414', 'HOBBIES_1_415', 'HOBBIES_1_416',
        'HOBBIES_1_417', 'HOBBIES_1_418', 'HOBBIES_1_419', 'HOBBIES_1_420',
        'HOBBIES_1_421', 'HOBBIES_1_422', 'HOBBIES_1_423', 'HOBBIES_1_424',
        'HOBBIES_2_001', 'HOBBIES_2_002', 'HOBBIES_2_003', 'HOBBIES_2_004',
        'HOBBIES_2_005', 'HOBBIES_2_006', 'HOBBIES_2_007', 'HOBBIES_2_008',
        'HOBBIES_2_009', 'HOBBIES_2_010', 'HOBBIES_2_011', 'HOBBIES_2_012',
        'HOBBIES_2_013', 'HOBBIES_2_014', 'HOBBIES_2_015', 'HOBBIES_2_016',
        'HOBBIES_2_017', 'HOBBIES_2_018', 'HOBBIES_2_019', 'HOBBIES_2_020',
        'HOBBIES_2_021', 'HOBBIES_2_022', 'HOBBIES_2_023', 'HOBBIES_2_024',
        'HOBBIES_2_025', 'HOBBIES_2_026', 'HOBBIES_2_027', 'HOBBIES_2_028',
        'HOBBIES_2_029', 'HOBBIES_2_030', 'HOBBIES_2_031', 'HOBBIES_2_032',
        'HOBBIES_2_033', 'HOBBIES_2_034', 'HOBBIES_2_035', 'HOBBIES_2_036',
        'HOBBIES_2_037', 'HOBBIES_2_038', 'HOBBIES_2_039', 'HOBBIES_2_040',
        'HOBBIES_2_041', 'HOBBIES_2_042', 'HOBBIES_2_043', 'HOBBIES_2_044',
        'HOBBIES_2_045', 'HOBBIES_2_046', 'HOBBIES_2_047', 'HOBBIES_2_048',
        'HOBBIES_2_049', 'HOBBIES_2_050', 'HOBBIES_2_051', 'HOBBIES_2_052',
        'HOBBIES_2_053', 'HOBBIES_2_054', 'HOBBIES_2_055', 'HOBBIES_2_056',
        'HOBBIES_2_057', 'HOBBIES_2_058', 'HOBBIES_2_059', 'HOBBIES_2_060',
        'HOBBIES_2_061', 'HOBBIES_2_062', 'HOBBIES_2_063', 'HOBBIES_2_064',
        'HOBBIES_2_065', 'HOBBIES_2_066', 'HOBBIES_2_067', 'HOBBIES_2_068',
        'HOBBIES_2_069', 'HOBBIES_2_070', 'HOBBIES_2_071', 'HOBBIES_2_072',
        'HOBBIES_2_073', 'HOBBIES_2_074', 'HOBBIES_2_075', 'HOBBIES_2_076',
        'HOBBIES_2_077', 'HOBBIES_2_078', 'HOBBIES_2_079', 'HOBBIES_2_080',
        'HOBBIES_2_081', 'HOBBIES_2_082', 'HOBBIES_2_083', 'HOBBIES_2_084',
        'HOBBIES_2_085', 'HOBBIES_2_086', 'HOBBIES_2_087', 'HOBBIES_2_088',
        'HOBBIES_2_089', 'HOBBIES_2_090', 'HOBBIES_2_091', 'HOBBIES_2_092',
        'HOBBIES_2_093', 'HOBBIES_2_094', 'HOBBIES_2_095', 'HOBBIES_2_096',
        'HOBBIES_2_097', 'HOBBIES_2_098', 'HOBBIES_2_099', 'HOBBIES_2_100',
        'HOBBIES_2_101', 'HOBBIES_2_102', 'HOBBIES_2_103', 'HOBBIES_2_104',
        'HOBBIES_2_105', 'HOBBIES_2_106', 'HOBBIES_2_107', 'HOBBIES_2_108',
        'HOBBIES_2_109', 'HOBBIES_2_110', 'HOBBIES_2_111', 'HOBBIES_2_112',
        'HOBBIES_2_113', 'HOBBIES_2_114', 'HOBBIES_2_115', 'HOBBIES_2_116',
        'HOBBIES_2_117', 'HOBBIES_2_118', 'HOBBIES_2_119', 'HOBBIES_2_120',
        'HOBBIES_2_121', 'HOBBIES_2_122', 'HOBBIES_2_123', 'HOBBIES_2_124',
        'HOBBIES_2_125', 'HOBBIES_2_126', 'HOBBIES_2_127', 'HOBBIES_2_128',
        'HOBBIES_2_129', 'HOBBIES_2_130', 'HOBBIES_2_131', 'HOBBIES_2_132',
        'HOBBIES_2_133', 'HOBBIES_2_134', 'HOBBIES_2_135', 'HOBBIES_2_136',
        'HOBBIES_2_137', 'HOBBIES_2_138', 'HOBBIES_2_139', 'HOBBIES_2_140',
        'HOBBIES_2_141', 'HOBBIES_2_142', 'HOBBIES_2_143', 'HOBBIES_2_144',
        'HOBBIES_2_145', 'HOBBIES_2_146', 'HOBBIES_2_147', 'HOBBIES_2_148',
        'HOBBIES_2_149'], dtype=object),
 'Cat/Dept/Item/State': array(['HOBBIES_1_001_CA_1', 'HOBBIES_1_002_CA_1', 'HOBBIES_1_003_CA_1',
        ..., 'HOBBIES_2_147_WI_3', 'HOBBIES_2_148_WI_3',
        'HOBBIES_2_149_WI_3'], dtype=object)}

In [7]:
Y_hat_df["ds"] = pd.to_datetime(Y_hat_df["ds"])
Y_hat_df.head()

                           ds   prophet
unique_id
HOBBIES_1_001_CA_1 2021-01-16  0.641144
HOBBIES_1_001_CA_1 2021-01-17  0.855605
HOBBIES_1_001_CA_1 2021-01-18  0.713611
HOBBIES_1_001_CA_1 2021-01-19  1.213304
HOBBIES_1_001_CA_1 2021-01-20  1.142696

The following cell makes the previous forecasts coherent using the `HierarchicalReconciliation` class. The used methods to make the forecasts coherent are:
- `BottomUp`: The reconciliation of the method is a simple addition to the upper levels.
- `TopDown`: The second method constrains the base-level predictions to the top-most aggregate-level serie and then distributes it to the disaggregate series through the use of proportions. 
- `MiddleOut`: Anchors the base predictions in a middle level.

In [13]:
date = "2021-01-16"

Y_hat = Y_hat_df #.loc[Y_hat_df["ds"] == date]
Y = Y_df #.loc[Y_df["ds"] == date]

reconcilers = [
    BottomUp(),
    # TopDown(method='forecast_proportions'),
    # MiddleOut(middle_level='Cat/Dept/Item',
    #          top_down_method='forecast_proportions')
]
hrec = HierarchicalReconciliation(reconcilers=reconcilers)

start = timer()
Y_rec_df = hrec.reconcile(Y_hat_df=Y_hat, Y_df=Y, S=S_df, tags=tags)
end = timer()
print(end - start)

1.5916450209915638

In [9]:
Y_df

                           ds     y
unique_id
HOBBIES_1_001_CA_1 2021-01-16     4
HOBBIES_1_001_CA_1 2021-01-17     0
HOBBIES_1_001_CA_1 2021-01-18     0
HOBBIES_1_001_CA_1 2021-01-19     0
HOBBIES_1_001_CA_1 2021-01-20     0
...                       ...   ...
HOBBIES            2021-04-21  3740
HOBBIES            2021-04-22  3475
HOBBIES            2021-04-23  4143
HOBBIES            2021-04-24  5333
HOBBIES            2021-04-25  5280

[621800 rows x 2 columns]

In [10]:
Y_rec_df

                           ds   prophet  prophet/BottomUp
unique_id
HOBBIES_1_001_CA_1 2021-01-16  0.641144          0.641144
HOBBIES_1_001      2021-01-16  4.989419          4.911092
HOBBIES_1_002      2021-01-16  2.136553          2.076482
HOBBIES_1_002_CA_1 2021-01-16  0.226241          0.226241
HOBBIES_1_003_CA_1 2021-01-16  0.407938          0.407938
...                       ...       ...               ...
HOBBIES_2_145_WI_3 2021-01-16  0.461117          0.461117
HOBBIES_2_146_WI_3 2021-01-16  0.002087          0.002087
HOBBIES_2_147_WI_3 2021-01-16  0.247244          0.247244
HOBBIES_2_148_WI_3 2021-01-16  0.104610          0.104610
HOBBIES_2_149_WI_3 2021-01-16  0.270878          0.270878

[6218 rows x 3 columns]

In [11]:
S_df

,HOBBIES_1_001_CA_1,HOBBIES_1_002_CA_1,HOBBIES_1_003_CA_1,HOBBIES_1_004_CA_1,HOBBIES_1_005_CA_1,HOBBIES_1_006_CA_1,HOBBIES_1_007_CA_1,HOBBIES_1_008_CA_1,HOBBIES_1_009_CA_1,HOBBIES_1_010_CA_1,...,HOBBIES_2_140_WI_3,HOBBIES_2_141_WI_3,HOBBIES_2_142_WI_3,HOBBIES_2_143_WI_3,HOBBIES_2_144_WI_3,HOBBIES_2_145_WI_3,HOBBIES_2_146_WI_3,HOBBIES_2_147_WI_3,HOBBIES_2_148_WI_3,HOBBIES_2_149_WI_3
HOBBIES,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
HOBBIES_1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
HOBBIES_2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
HOBBIES_1_001,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HOBBIES_1_002,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HOBBIES_2_145_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
HOBBIES_2_146_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
HOBBIES_2_147_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
HOBBIES_2_148_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
HOBBIES_2_149_WI_3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
def smape(a, f):
    return 1 / len(a) * np.sum(2 * np.abs(f - a) / (np.abs(a) + np.abs(f) + 1e-9) * 100)


evaluator = HierarchicalEvaluation(evaluators=[smape])
evaluator.evaluate(Y_hat_df=Y_rec_df, Y_test_df=Y, tags=tags, benchmark="prophet")

                                 prophet prophet/BottomUp
level               metric
Overall             smape-scaled     1.0         0.999528
Cat                 smape-scaled     1.0         1.046039
Cat/Dept            smape-scaled     1.0         1.101575
Cat/Dept/Item       smape-scaled     1.0         0.988191
Cat/Dept/Item/State smape-scaled     1.0              1.0

In [13]:
Y

                           ds     y
unique_id
HOBBIES_1_001_CA_1 2021-01-16     4
HOBBIES_1_002_CA_1 2021-01-16     0
HOBBIES_1_003_CA_1 2021-01-16     1
HOBBIES_1_004_CA_1 2021-01-16     2
HOBBIES_1_005_CA_1 2021-01-16     5
...                       ...   ...
HOBBIES_2_148      2021-01-16     7
HOBBIES_2_149      2021-01-16     9
HOBBIES_1          2021-01-16  4473
HOBBIES_2          2021-01-16   492
HOBBIES            2021-01-16  4965

[6218 rows x 2 columns]

In [14]:
Y_rec_df

                           ds   prophet  prophet/BottomUp
unique_id
HOBBIES_1_001_CA_1 2021-01-16  0.641144          0.641144
HOBBIES_1_001      2021-01-16  4.989419          4.911092
HOBBIES_1_002      2021-01-16  2.136553          2.076482
HOBBIES_1_002_CA_1 2021-01-16  0.226241          0.226241
HOBBIES_1_003_CA_1 2021-01-16  0.407938          0.407938
...                       ...       ...               ...
HOBBIES_2_145_WI_3 2021-01-16  0.461117          0.461117
HOBBIES_2_146_WI_3 2021-01-16  0.002087          0.002087
HOBBIES_2_147_WI_3 2021-01-16  0.247244          0.247244
HOBBIES_2_148_WI_3 2021-01-16  0.104610          0.104610
HOBBIES_2_149_WI_3 2021-01-16  0.270878          0.270878

[6218 rows x 3 columns]